body {
    font-family: Helvetica;
}

h1 {
    padding: 10px;
    text-align: center;
    margin: 15px auto;
    background-color: rgb(255, 94, 0);
    color: white;
    width: 40%;
}

.container {
    text-align: center;
}

.container ul {
    font-size: 20px;
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding: 0;
    /*display: flex;
    justify-content: center;
    padding: 0;*/
}

.spaghet,
.burger,
.egg {
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}


img {
    display: block;
    margin: auto;
}